@import "tailwindcss";
@import "tw-animate-css";
/* ---break---  */
@custom-variant dark (&:is(.dark *));

.active {
  background-color: #e3e3e3;
}

@media (max-width: 1250px) {
  .sidebar-hidden {
    display: none;
  }

  .sidebar-show {
    display: block;
  }

  .bottom-sidebar {
    display: none;
  }
}

@media (min-width: 1250px) {
  .sidebar-hidden {
    display: block;
  }

  .sidebar-show {
    display: none;
  }

  .bottom-sidebar {
    display: none;
  }
}

@media (max-width: 1050px) {
  .sidebar-show {
    display: none;
  }

  .bottom-sidebar {
    display: block;
  }
}

/* auth bg  */
.auth-bg {
  background-image: url(./assets/auth/bg.png);
  background-position: center;
  background-size: cover;
}

